@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?28515152');
  src: url('../font/fontello.eot?28515152#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?28515152') format('woff2'),
       url('../font/fontello.woff?28515152') format('woff'),
       url('../font/fontello.ttf?28515152') format('truetype'),
       url('../font/fontello.svg?28515152#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?28515152#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-home:before { content: '\61'; } /* 'a' */
.icon-call:before { content: '\63'; } /* 'c' */
.icon-cal:before { content: '\64'; } /* 'd' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-googleplus:before { content: '\67'; } /* 'g' */
.icon-hourglass:before { content: '\68'; } /* 'h' */
.icon-instagram:before { content: '\69'; } /* 'i' */
.icon-people:before { content: '\6a'; } /* 'j' */
.icon-eye-test:before { content: '\6c'; } /* 'l' */
.icon-mail:before { content: '\6d'; } /* 'm' */
.icon-phone-portrait:before { content: '\70'; } /* 'p' */
.icon-contact-lens:before { content: '\71'; } /* 'q' */
.icon-eye-hour:before { content: '\74'; } /* 't' */
.icon-youtube:before { content: '\79'; } /* 'y' */
.icon-eye-zoom:before { content: '\7a'; } /* 'z' */
.icon-google:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e80c'; } /* '' */
.icon-tools:before { content: '\e80f'; } /* '' */
