
.icon-home:before { content: '\61'; } /* 'a' */
.icon-call:before { content: '\63'; } /* 'c' */
.icon-cal:before { content: '\64'; } /* 'd' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-googleplus:before { content: '\67'; } /* 'g' */
.icon-hourglass:before { content: '\68'; } /* 'h' */
.icon-instagram:before { content: '\69'; } /* 'i' */
.icon-people:before { content: '\6a'; } /* 'j' */
.icon-eye-test:before { content: '\6c'; } /* 'l' */
.icon-mail:before { content: '\6d'; } /* 'm' */
.icon-phone-portrait:before { content: '\70'; } /* 'p' */
.icon-contact-lens:before { content: '\71'; } /* 'q' */
.icon-eye-hour:before { content: '\74'; } /* 't' */
.icon-youtube:before { content: '\79'; } /* 'y' */
.icon-eye-zoom:before { content: '\7a'; } /* 'z' */
.icon-google:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e80c'; } /* '' */
.icon-tools:before { content: '\e80f'; } /* '' */